body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.panel {
  background: #141414;
  border: 1px solid #2a2a2a;
}

.info-card {
  background: #141414;
  border: 1px solid #2a2a2a;
}

#map,
.map-container {
  width: 100%;
  height: 60vh;
  background: #020308;
}

#th-range::-webkit-slider-thumb {
  cursor: pointer;
}

.legend {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-right: 6px;
}

.legend-green {
  background: #2ecc71;
}
.legend-yellow {
  background: #f1c40f;
}
.legend-orange {
  background: #e67e22;
}
.legend-red {
  background: #e74c3c;
}
.legend-purple {
  background: #8e44ad;
}

.algorithm-block {
  border-radius: 0.75rem;
  border: 1px solid #2a2a2a;
  padding: 0.5rem 0.75rem;
  background: #111111;
}

.algo-results {
  max-height: 180px;
  overflow-y: auto;
}

.algo-results::-webkit-scrollbar {
  width: 4px;
}
.algo-results::-webkit-scrollbar-thumb {
  background: #555;
}

.leaflet-container {
  background: #020202;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #111;
  color: #f5f5f5;
}

@media (max-width: 991.98px) {
  .map-container {
    height: 55vh;
  }
}

.leaflet-tooltip.edge-tooltip {
  background: rgba(0, 0, 0, 0.85);
  color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #444;
  font-size: 0.7rem;
  padding: 2px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.sidebar-panel {
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}

.sidebar-panel::-webkit-scrollbar {
  width: 6px;
}

.sidebar-panel::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 4px;
}

.sidebar-panel::-webkit-scrollbar-track {
  background: #151515;
}

@media (max-width: 991.98px) {
  .sidebar-panel {
    max-height: none;
    overflow-y: visible;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
  cursor: pointer;

  width: 18px;
  height: 18px;

  margin-right: 0.1rem;        
  transform: translateY(-1px);  
}

input[type="date"].form-control {
  color: #f5f5f5;
  background-color: #111;
  border-color: #444;
  padding-right: 0.7rem;  
}

.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #111;
  color: #f5f5f5;
  border-color: #444;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='%23ffffff' d='M4 6l4 4 4-4z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1.1rem center;  
  background-size: 14px 14px;        
  padding-right: 2.6rem;          
}


.form-select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.15rem rgba(13,110,253,.25);
}

.mst-tooltip {
  background: #111;
  color: #00ff7f;
  border-radius: 6px;
  padding: 4px 8px;
  border: 1px solid #00ff7f;
  font-size: 11px;
}
